


/* sign page */
.sign-in-container{
    border: 1px solid;
    padding: 30px;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 5px var(--black-color);
    border: none;
    outline: none;
    margin: auto;
    margin-top: 5%;
    width: max-content;
}
.form{
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: .1px solid var(--light-dark-color);
}
.form-field{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.third-party{
    display: flex;
    flex-direction: column;
}
.third-party p{
    font-size: 1rem;
    color: var(--light-dark-color);
    margin: 10px auto;
}
.label{
    color: var(--light-dark-color);
    font-size: 1rem;
    margin-bottom: 5px;
    margin-left: 10px;
}
.input{
    height: 30px;
    width: 90%;
    border: 1px solid var(--pale-white-color);
    border-radius: 5px;
    padding-left: 10px;
}
.input:focus{
    outline-color: var(--light-yellow-color);
}
#submit{
    background-color: var(--dark-yellow);
    color: var(--white-color);
    margin: 10px 60px 15px 0;
}
.btn{
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn-blue{
    background-color: rgb(66 133 244);
    color: var(--white-color);
}
#google,
#github{    
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    font-size: 1.2rem;
}
#google{
    margin-bottom: 10px;
    background-color: rgb(219 68 55);
}
#github{
    background-color: rgb(22,27,34);
}