
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 

:root{
    --black-color: rgb(40,40,40);
    --light-dark-color: rgb(60,60,60);
    --light-yellow-color: rgb(255,200,58);
    --dark-yellow: rgb(255,154,62);
    --unsaturated-red: rgb(255,56,56);
    --white-color: rgb(246,246,246);
    --pale-white-color: rgb(202,202,202);
}

*, 
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--pale-white-color);
    color: var(--black-color);
    font-size: 1.3rem;
}
p{
    font-size: .8rem
}
ul{
    list-style: none;
}
/* 
.toggle{
    position: absolute;
    right: 40px;
    top: 30px;
}
input[type='checkbox']{
    position: relative;
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    background: var(--white-color);
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 5px var(--black-color);
    transition: .5s;
}
input:checked[type='checkbox']{
    background-color: var(--black-color);
    box-shadow: inset 0 0 5px var(--white-color);
}
input[type='checkbox']::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: var(--black-color);
    box-shadow: 0 0 5px var(--white-color);
    transition: .5s;
    transform: scale(1.1);
}
input:checked[type='checkbox']::before{
    background-color: var(--white-color);
    box-shadow: 0 0 5px var(--black-color);
    left: 35px;

} */


