/* FORM & INPUT */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    background-color: #161616;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
}

form input:focus, form textarea {
    border-bottom: 2px solid #FFC83A;
    border-radius: 5px 5px 0px 0px;
}
