/* header */
header {
    display: flex;
    align-items: center;
    height: 14vh;
    background-color: #1b1b1b;
    padding-left: 5%;
    padding-right: 5%;
}

header nav {
    flex: 1;
    text-align: left;
    margin-left: 30px;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

header nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.login li {
    display: inline-block;
    margin-right: 20px;
    list-style: none;
}

.login li:last-child {
    margin: 0;
}

.login li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}